*{padding: 0;margin: 0;}
    #title{
        background: #fff;
    }
    .tab_box{
        width: 100%;
        position: relative;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    .tab_menu_box{
        /*border: 1px solid #e0e0e0;*/
        margin-bottom: 8px;
        border-radius: 2px;
        padding: 0px 0px 10px 0px;
    }
    .tab_menu_box>select{
        display: inline-block;
        text-align: center;
        background-color: #fff;
        color: #666;
        height: 30px;
        line-height: 30px;
        border: 1px solid #ccc;
        outline: none;
        border-radius: 6px 6px 0 0;
    }
    .tab_menu{
        padding: 0 10px;
        margin-left: 30px;
    }
    .tab_menu_active{
        background-color: #0057a8 !important;
        color: #fff !important;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
        height: 10px;  
    }
    .tab_content_box{
        position: relative;
        height: 220px;
    }
    .tab_content{
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }
    .tab_content{
        position: relative;
        top: 0;
        left: 0;
        display: none;
        height: 100%;
        line-height: 26px;
        font-size: 14px;
        color: #666;
        text-indent: 1em;
    }
    .tab_content_active{
        display: block;
    }
    .uls li{
        border: 1px solid #e0e0e0;
        margin-bottom: 5px;
        position: relative;
        padding: 0 10px;
    }
    .column{
    	width: 100%;
    	height: 30px;
    	line-height: 30px;
    	margin-bottom: 0px;
    }
    .columns{
    	width: 100%;
    	margin-bottom: 0px;
    }
    .columnBtn{
    	width: 100%;
    	height: 32.5px;
    	line-height: 32.5px;
    	margin-bottom: 0px;
    	text-align: right;
        padding-right: 20px;
    }
    .uls .lis > button{
    	width: 80px;
    	height: 25px;
    	line-height: 25px;
    	border-radius: 0 0 5px 5px;
    	color: #fff;
    	font-size: 14px;
    	position: absolute;
    	top: 0;
    	right: 20px;
    	border: none;
    }
    .labelCriminal{
    	background: #556fb5;
    	cursor: default;
    	outline: none;
    }
    .labelCivil{
    	background: #ec6941;
    	cursor: default;
    	outline: none;
    }
    .labelAdmin{
    	background: #00b7ee;
    	cursor: default;
    	outline: none;
    }
    .uls .lis .titName{
        font-weight: bold;
        font-size: 14px;
        margin-top: 5px;
        color: #363636;
        line-height: 30px;
    }
    .uls .lis>p{
        color: #9f9f9f;
        font-size: 12px;
    }
    .uls .lis .msg{
        text-align:justify;
        line-height: 20px;
        font-size: 12px;
        color:#9a9a9a;
    }
    .uls .lis .msg>b{
        color:#363636;
    }
    .download,.tjws{
        display: inline-block;
        font-size: 12px; 
        color: #054A8B;
        cursor: pointer;
    }
    .tjws img,.download img{
        width: 15px;
        height: 15px;
    }